
.menu {
  background-color: #333; /* Establece el color de fondo del menú */
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  
  background-color: aqua;
}

.menu nav {
  display: flex; /* Hace que los elementos dentro de <nav> se alineen horizontalmente */
}

.menu nav ul {
  list-style: none; /* Elimina los puntos de las listas */
  margin: 0; /* Elimina los márgenes de las listas */
  padding: 0; /* Elimina los rellenos de las listas */
}

.menu nav ul li {
  float: left; /* Hace que los elementos de la lista se alineen horizontalmente */
}

.menu nav ul li a {
  color: white; /* Establece el color de texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  padding: 14px 16px; /* Establece el relleno de los enlaces */
  display: block; /* Hace que los enlaces ocupen todo el ancho de su contenedor */
}

.menu nav ul li a:hover {
  background-color: #444; /* Establece el color de fondo de los enlaces al hacer hover */
}
/*  */

.container-titulo img {
  transition: 0.5s ease-in-out;
}
.container-titulo img {
  transition: 0.5s ease-in-out;
}

.container-titulo img:hover {
  opacity: 0.5;
}

.divheader {
  display: flex; /* Muestra los elementos dentro de la caja como una fila */
  flex-wrap: wrap;
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  justify-content:center; /* Distribuye los elementos en la caja utilizando espacio entre ellos */
  padding: 5px; /* Agrega un relleno a la caja */
  background-color: #f5f5f5; /* Agrega un fondo de color gris claro */
}

.logo {
  margin-right: -20px; /* Agrega un margen a la derecha del logo */
}

.container-titulo {
  text-align: center; /* Centra el texto */
  align-self: center;
  margin-bottom: 20px; /* Agrega un margen debajo del contenedor */
}

.container-titulo h1 {
  font-size: 3em; /* Aumenta el tamaño de la fuente del título */
  font-weight: bold; /* Hace el título más pesado */
  margin-bottom: 10px; /* Agrega un margen debajo del título */
}

.container-titulo p {
  font-size: 1.2em; /* Aumenta el tamaño de la fuente del párrafo */
  line-height: 1.5; /* Aumenta el espacio entre líneas para mejorar la legibilidad */
  margin-bottom: 20px; /* Agrega un margen debajo del párrafo */
}

.container-titulo img {
  width: 150px; /* Establece el ancho de las imágenes */
  height: 150px; /* Establece la altura de las imágenes */
  margin-right: 20px; /* Agrega un margen a la derecha de las imágenes */
  border-radius: 50%; /* Hace que las imágenes tengan bordes redondeados */
}


/*  */
.container-introduccion {
  background-color: #f4f4f4; /* agregue un fondo de color al contenido */
  font-family: 'Open Sans', sans-serif; /* Especifica una fuente moderna y legible */
  max-width: 70em; /* Limita el ancho del contenido para evitar que sea demasiado ancho en pantallas grandes */
  max-height: 50em;
  font-size: small;
  margin: 50px auto; /* Centra el contenido en la página y agrega un margen */
  text-align: center; /* Alinea el texto justificado */
  border-radius: 15px;

}

.floating{
  float:right;
  margin: 2em;
  padding: 2em;

}

#introduccion h2.titulo {
  font-size: 2em; /* Aumenta el tamaño de la fuente del título */
  font-weight: bold; /* Hace el título más pesado */
  margin-bottom: 25px; /* Agrega un margen debajo del título */
  text-align: center; /* Centra el título */
  padding-top: 15px;
}

#introduccion p {
  font-size: 1.2em; /* Aumenta el tamaño de la fuente del párrafo */
  line-height: 1.3; /* Aumenta el espacio entre líneas para mejorar la legibilidad */
  margin-bottom: 40px; /* Agrega un margen debajo del párrafo */
  padding: 15px;
  padding-top: 0px;
  text-align: justify;
}

/*  */


.divheader .logo {
  padding-top: 10px;
  margin-right: 10px;
  display: flex;
        align-items: center
}


.container-titulo {
  padding-top: 25px;
  padding-left: 70px;
}

.container-titulo h1 {
  font-size: 2em;

}



/*  */

.resumen {
  font-family: Arial, sans-serif; /* especifique una fuente para el contenido */
  margin: 80px AUTO; /* agregue un margen alrededor del contenido */
  padding: 20px; /* agregue algo de espacio interior al contenido */
  background-color: #f4f4f4; /* agregue un fondo de color al contenido */
  border-radius: 10px; /* doble las esquinas para dar un aspecto más suave */
  text-align: center;
  
  max-width: 1000px;
}

.resumen h2 { /* seleccione el encabezado h2 dentro del elemento resumen */
  font-size: 24px; /* aumente el tamaño de la fuente */
  margin-bottom: 20px; /* agregue un margen debajo del encabezado */
  text-align: center; /* centra el texto */
}

.resumen ul { /* seleccione todas las listas dentro del elemento resumen */
  list-style:disc; /* quita los puntos en las listas */
  margin-bottom: 10px; /* agrega un margen debajo de cada elemento li */
  font-size: 16px; /* cambia tamaño de la letra */
}

.resumen ul li { /* selecciona cada elemento li dentro de una lista */
  margin-bottom: 10px; /* agrega un margen debajo de cada elemento li */
  line-height: 1.5; /* aumente el espacio entre líneas para mejorar la legibilidad */
}

.resumen .ulis ul li{
  list-style:square;
}

/*  */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer-content {
  padding: 20px 0;
}

.logo-footer {
  height: 55px;
  width: 55px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}
